#logInErrorBox{
	display: inline-block;
}

.errIcon{
	width: 30px;
}

.errorMessage{
	padding: 5px 10px;
	border-radius: 15px;
	background-color: #75AD49;
	color: white;
	box-shadow: 1px 1px 4px 2px #ccc;

}

#errText{
	padding-left: 10px;
}