
.header {
    background-color: #75AD49;
    width: 100%;
    height: 30vh;
    text-align: center;
		padding-top: 20px;    
		position: relative;
  }
  
  .arch{
    background-color: #E9FFDE;
    width: 100%;
		height: 80%;
    border-radius: 100% / 25%;
    border-bottom-left-radius: 0;
		border-bottom-right-radius: 0;
		position: absolute;
    bottom: 0;
  }

	.profileBtnContainer{
		position: absolute;
		text-align: center;
		top: 1%;
	}

	.profileBtn{
		width: 25vw;
    height: 25vw;
    max-width: 200px;
    max-height: 200px;
    min-width: 150px;
		min-height: 150px;
		border-radius: 50%;
		border: none;
		padding:0;
	}

	.profileBtn:hover{
			transform: scale(1.05, 1.05);
			transition: all .2s ease;
	}

	.profileImage{
		width: 100%;
	}
  
  
  .signOutBtn{
		float: right;
		color: white;
		background-color: rgb(249, 145, 34);
		border-color: rgb(249, 145, 34);
		box-shadow: 1px 1px 2px 1px rgb(75, 75, 75);
	}
	
	.signOutBtn:hover{
		background-color: rgb(255, 170, 79);
		border-color: rgb(255, 170, 79);
	}
